{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container d-flex justify-content-center mt-5 pt-4">
    <form method="POST" class="col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0">
        {% csrf_token %}
        <h3 class="text-white text-center">Welcome to </h3>
        <h1 class="text-white text-center">
        <i class="fas fa-globe-asia"></i> MySejahtera 2.0
        </h1>
        <h5 class="text-white text-center mb-5">better performance, better life, for your patient</h5>
        <fieldset class="form-group">
        
            <legend class="mb-3 white-important">
                Login
            </legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group d-flex">
            <button class="btn btn-outline-hijau" type="submit">Login</button>
            <small class="text-muted ml-auto pt-3 pr-3">
            Do you need an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
            </small>
        </div>
    </form>
</div>

{% endblock content %}