{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content%}

<div class="container pt-5" style="height: 800px;">
    <div class="row d-flex justify-content-center">

        <!-- <div class="media d-flex justify-content-center">
            <img class="rounded-circle account-img img-fluid" src="{{ user.profile.image.url}}" alt="profile-image">
        </div> -->

        <br>

        <div class="d-flex justify-content-center p-4">
            <h3 class="text-white"> Hi {{ user.username }}, this your vaccination appointment info.</h3>

        </div>

        <br>
        <br>
        
        <br>
        <div class="row d-flex justify-content-center p-3">
            <div class="col-md-6 card px-3 pt-3">
                
                   <p>Name: {{user.vaccine.name}}</p> 
                   <p>Age: {{user.vaccine.age}}</p> 
               
                   <p>State: {{user.vaccine.state}}</p> 
                   <p>Appointment date: {{user.vaccine.date}}</p> 
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center p-3">
            <div class="col-md-6 d-flex justify-content-end">
                <a href="{% url 'vaccineregister'%}"><button class="btn btn-success">Update vaccine</button> </a>
            </div>
        </div>

    </div>


</div>

{% endblock content%}